@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400&display=swap');

.body {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    // background-image: url('./../assets/back.jpeg');
    // background-repeat: no-repeat;
    padding-top: 60px;
    background-image: url(../../assets/images/hero-background.png);
    background-size: cover;
    background-position: center;
    // background: #fdc27d;;
}

.profileForm {
    // max-width: 700px;

    padding: 5px 30px;
    border-radius: 5px;
    margin: 5px auto;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid yellow;
}

.profileForm form .user-details {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 12px 0;
    // border: 2px solid red;
}

form .user-details .inputBox {
    margin-bottom: 10px;
    // width: calc(100% / 2 - 20px);
}

.inputBox label {
    font-weight: 600;
    // font-size: 20px;
}

.user-details .inputBox input {
    margin-top: 7px;
    height: 40px;
    width: 100%;
    // outline: none;
    // border: none;
    border-radius: 5px;
    // border: 1px solid #adabab;
    padding-left: 15px;
    font-size: 16px;
    border-left-width: 5px;
    border-left-color: rgb(158, 158, 228);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    // background: none;
}

.user-details .inputBox select {
    margin-top: 7px;
    height: 40px;
    width: 100%;
    outline: none;
    // background-color: transparent;
    border-radius: 5px;
    border-left-width: 5px;
    border-left-color: rgb(63, 63, 112);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .inputBox input:focus,
select:focus {
    border-color: #bf712c;
}

.user-details .formBtn {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.formBtn input {
    padding: 0 16px;
    width: 100px;
    outline: none;
    border: none;
    background: #262627;
    color: #fff;
    line-height: 40px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 600;
}


.profilePic {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;

    img {
        width: 100px;
    }
}

.editBtn,
.saveChangesBtn {
    background: #262627;
    border: none;
    color: #fff;
    outline: none;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    justify-content: flex-end;
}

.editBtn:hover,
.saveChangesBtn:hover {
    background-color: #555555;
    color: white;
}


.body {
    width: 100%;
    height: 100vh;
}

.first {
    // border: 2px solid red;
    display: flex;
    justify-content: flex-end;
    // background-color: rgb(250, 250, 250);
    border-radius: 10px;
    padding: 10px 20px 60px 0;
    position: relative;
    // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);


}

.first-inner {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 120px;
    height: 150px;
    position: absolute;
    // border: 1px solid red;
}

.editSaveBtnBox {
    // margin-left: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
}