.location {
    width: 100%;
    // height: 100%;
    padding-top: 60px;
  }
  
  .location-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 100%;
    width: 100%;
  }
  
  .location-list {
    width: 35%;
  }
  
  .location-map {
    width: 65%;
  }
  