@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400&display=swap');

// html{
//     background-color: rgb(241, 236, 227);
// }

.callback{
    
    font-family: 'Cabin', sans-serif;
    color: rgb(38, 38, 39);
    width: 50%;
    margin: 10em auto;
    line-height: 1.9;
    // border: 1px solid magenta;

    p {
        font-size: 24px;
    }
}

.loginSpan{
    font-weight: 600;
    text-decoration: underline;
}

.loginBtn{
    border: none;
    padding: 12px 35px;
    border-radius: 5px;
    outline: none;
    color: #fff;
    background-color:rgb(40, 40, 40);
    cursor: pointer;
    font-size: 16px;
}