// Header component styles
@import '../../index.scss';

.header-schools {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	@media (max-width: 991px) {
		padding: 10px 15px;
	}

	@media (max-width: 767px) {
		padding: 10px 10px;
	}

	@media (max-width: 575px) {
		padding: 10px 5px;
	}

	@media (max-width: 400px) {
		padding: 10px 0;
	}


	.logo-container {
		display: flex;
		align-items: center;
	}

	.logo {
		height: 40px;
		width: 40px;
		margin-right: 10px;
		background-color: cornflowerblue;
		border: 1px solid coral;
		border-radius: 5px;
	}

	.logo-text {
		font-size: 28px;
		font-weight: bold;
		color: #333;
	}

	.nav-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-left: auto;

		@media (max-width: 991px) {
			margin-left: 0;
		}

		@media (max-width: 767px) {
			margin-top: 10px;
		}

		@media (max-width: 575px) {
			margin-top: 5px;
		}

		@media (max-width: 400px) {
			margin-top: 0;
		}

		nav {

			ul {
				display: flex;
				list-style-type: none;
				margin: 0;
				padding: 0 15px;

				li {
					margin: 0 10px;

				}

				a {
					text-decoration: none;
					color: #333;
					font-size: 16px;
					font-weight: 600;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: #FF6A88;
					}

					@media (max-width: 991px) {
						font-size: 14px;
					}

					@media (max-width: 767px) {
						font-size: 12px;
					}

					@media (max-width: 575px) {
						font-size: 10px;
					}

					@media (max-width: 400px) {
						font-size: 8px;
					}


				}
			}
		}

		.auth-buttons {
			display: flex;
			align-items: center;



			button {
				background-color: #FF6A88;
				color: #fff;
				font-size: 18px;
				font-weight: 300;
				border: none;
				border-radius: 4px;
				padding: 10px 20px;
				cursor: pointer;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: #FF99AC;
				}

				@media (max-width: 991px) {
					font-size: 16px;
				}

				@media (max-width: 767px) {
					font-size: 14px;
				}

				@media (max-width: 575px) {
					font-size: 12px;
				}

				@media (max-width: 400px) {
					font-size: 10px;
				}

			}

			.logout-btn {
				margin-left: 10px;
			}
		}
	}
}